.header__logo {
    font-family: Roboto Slab, serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 26px 104px;
    z-index:3;
}

@media screen and (min-width: 603px) and (max-width: 1024px) {
  .header__logo {
    margin: 22px 0 18px 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 602px) {
  .header__logo {
    margin: 16px 0 16px 16px;
  }
}

