.root__section_theme_main {
    background-image: url(../../../../../images/bgHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
@media screen and (min-width: 551px) and (max-width: 1024px) {
  .root__section_theme_main{
    background-image: url(../../../../../images/header-tablet.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .root__section_theme_main{
    background-image: url(../../../../../images/header-mobile.png);
  }
}

