@media screen  and (min-width:320px) and (max-width: 550px) {
  .phone-menu__logo {
    font-family: Roboto Slab, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 0 0 16px;
  }
}





