.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}
@media screen and ( min-width: 320px ) and (max-width: 602px) {

  .nav_mobile {
    background: #1A1B22;
  }

}
