@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.find__loader {
    display: block;
    width: 74px;
    height: 74px;
    border: 1px solid #444;
    border-bottom-color: #888;
    border-radius: 50%;
    margin: 0 auto;
    animation: spin .75s infinite linear;
}
