@import url(./__header/phone-menu__header.css);
@import url(./__button/phone-menu__button.css);
@import url(./__button/_status/_unlogin/phone-menu__button_status_unlogin.css);
@import url(./__link/phone-menu__link.css);
@import url(./__link/_status/_unlogin/phone-menu__link_status_unlogin.css);
@import url(./__links/phone-menu__links.css);
@import url(./__logo/phone-menu__logo.css);
@import url(./__exit/phone-menu__exit.css);

@media screen  and (min-width:320px) and (max-width: 550px) {
  .phone-menu {
    position: absolute;
    top: 0;
    min-width: 320px;
    width: 100%;
    background: #1a1b22;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
