@media screen  and (min-width:320px) and (max-width: 550px) {
  .phone-menu__button {
    margin: 16px 16px 23px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 288px;
    width: 90%;
    height: 56px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    border: 1px solid #fff;
    background: #1A1B22;
  }

  }

