.card__icon {
    padding-bottom: 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
@media screen and (max-width: 768px) {
  .card__icon {
    padding-bottom: 16px;
  }
}
