.root__result{
   background:#f5f6f7;
   padding: 80px 0;
}
.root__result:hover{
   background: #f5f6f7;
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .root__result {
    padding:40px 0 32px 0;
  }

}

@media screen and (min-width: 320px) and (max-width:500px)  {
  .root__result {
    padding:32px 0;
  }

}
