.card__text {
    color: #1a1b22;
    font-size: 16px;
    line-height: 22px;
    max-width: 352px;
    margin: 16px auto 18px auto;
}

@media screen and (max-width: 1260px) and (min-width: 320px)
{
  .card__text {
    margin: 12px 16px 10px 16px;
  }

}

