.navigation__button {
    border: 1px solid #FFFFFF;
    padding: 11px 12px 12px 12px;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
}
.navigation__button:hover {
    opacity: .7;
}


