.nav__section {
  font-size: 18px;
}

@media screen and ( min-width: 320px ) and (max-width: 602px) {
  .nav__section {
    display: none;
  }
  .nav__section_mobile {
    display: block;
    position: absolute;
    background: #1A1B22;
    z-index: 3;
    height: 286px;
    top: 56px;
    width: 100%;
  }
}



